<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Create note</title>
</head>
<body>
<div class="container">
    <div class="card text-white bg-dark mt-3" style="max-width: 18rem;">
        <div class="card-body">
            <input type="text" placeholder="Title" class="form-control border-secondary mb-2" id="createTitle">
            <textarea class="form-control border-secondary mb-2" id="createText" rows="5" cols="18"></textarea>
            <button type="button" class="create-note btn btn-primary">Save</button>
            <a href="/" class="btn btn-secondary">Go back</a>
        </div>
    </div>
</div>
<script src="js/createNote.js"></script>
</body>
</html>
